<div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
          
          <div class="sidebar-header">
            <h3>Guacamaya Tours</h3>
          </div>

          <ul class="list-unstyled components">
            <li class="active">
                <li>
                    <a routerLink="/dashboard">DASHBOARD</a>
                </li>
                <li>
                    <a routerLink="/adminDestiny">DESTINOS</a>
                </li>
                <li>
                    <a routerLink="/adminItinerary">ITINERARIOS</a>
                </li>
                <li>
                    <a routerLink="/inbox">INBOX</a>
                </li>
          </ul>
            
        </nav>
</div> 
