<div class="wrapper container-fluid page-container" >
    <div class="row page-row" >
        <div class="col-md-2" style="margin-left: 4vw;">

        </div>

        <div class="col-md-4">
            <div class="card" style=" margin-top:5vw">
                <img src=".\assets\Images\logotipo.jpg" class="rounded-circle img-thumbnail" style="align-self: center; max-height: 10vw; max-width: 10vw;" alt="profile">
                <div class="card-body">
                  <h5 style="text-align: center;">BIENVENIDO ADMIN</h5>
                  <p class="card-text" style="text-align: center;">EMAIL: guacamayatoursadm@gmail.com</p>
                  <p class="card-text" style="text-align: center;">CONTRASEÑA: ******</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card-body blue" style=" margin-top:5vw">
                <h5 style="text-align: center; color: white;">MENSAJES</h5>
                <p class="card-text changeSize" style="text-align: center; color: white;">TIENES MENSAJES DISPONIBLES</p>
                <a class="btn btn-primary" routerLink="/adminInbox" style="margin-left: 40%;">VER</a>
              </div>
              <div class="card-body yellow" style=" margin-top:2vw">
                  <p class="card-text changeSize" style="text-align: center; color: black;">REALIZA CAMBIOS EN LA PÁGINA CON LOS CRUDS OFRECIDOS</p>
                </div>
        </div>
</div> 
</div>
<div class="row" style="margin-top:5vw">
  <div class="col-md-2">

  </div>
  <div class="col-md-5" style="margin-left:5vw">
      <h5> REVISA LAS ÚLTIMAS RESERVAS</h5>
  </div>
</div>
<div class="row" style="margin-top:3vw">
  <div class="col-md-3">

  </div>
  <div class="col-md-8">
    <app-itinerary-list></app-itinerary-list>
  </div>
</div>










