<div class="wrapper container-fluid page-container" >
    <div class="row page-row" >
      
        <div class="col col-lg-2 col-sm-1 col-xs-0 admin-sidebar">
                <a class="nav-link" routerLink="/dashboard">DASHBOARD</a>
                <a class="nav-link" routerLink="/adminDestiny">DESTINOS</a>
                <a class="nav-link" routerLink="/adminItinerary">ITINERARIOS</a>
                <a class="nav-link" routerLink="/inbox">INBOX</a>
        </div>
        
        <div class="col col-lg-10 col-sm-11 col-xs-12 page-content" style="margin-left: 15%;" >
                <section class="container" style="margin: 0;">
                        <h1 class="mt-4">DASHBOARD</h1>
                        <div class="row mt-5">
                          <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
                            <div class="row">
                              <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
                            </div>
                            <div class="row user-details">
                              <div class="col-12">
                                <img src=".\assets\Images\logotipo.jpg" class="rounded-circle img-thumbnail" alt="profile">
                                <h5>
                                  BIENVENIDO ADMIN!
                                </h5>
                      
                                <hr>
                                <div>EMAIL: guacamayatours@gmail.com</div>
                                <div>CONTRASEÑA: ******</div>
                              </div>
                            </div>
                          </div>
                        </div>
                </section>

        </div>
    </div>
</div> 










