<div *ngIf= "destiny" class="row">
    
    <div class="col col-md-6">
            <label>ID</label>{{destiny.destinyId}}
    </div>
    <div class="col col-md-6">
            <label>Nombre</label>{{destiny.name}}
    </div>
    <div class="col col-md-6">
            <label>Categoría</label>{{destiny.category}}
    </div>
    <div class="col col-md-6">
            <label>Estado</label>{{destiny.state}}
    </div>
    <div class="col col-md-6">
            <label>Ciudad</label>{{destiny.city}}
    </div>
    <div class="col col-md-6"></div>

</div>