<footer>
    <div class="row">
        <div class="col-md-3 position-relative">
                <img id="logo" src="assets/Images/logotipo.jpg">
        </div>
        <div class="col-md-3">
        <p class="textUppercase">NAVEGACIÓN</p>
        <ul class="linksNav">
            <li>
                <a (click)="Home()">HOME</a>
            </li>
            <li>
                <a (click)="AboutUs()">SOBRE NOSOTROS</a>
            </li>
            <li>
                <a href="#!">DESTINOS</a>
            </li>
            <li>
                <a href="#!">HOTELES</a>
            </li>
            <li>
                <a href="#!">PLANEA TU VIAJE</a>
            </li>
            <li>
                <a href="#!">MI ITINERARIO</a>
            </li>
            <li>
                <a (click)="Contacts()">CONTÁCTANOS</a>
            </li>
        </ul>
        </div>
        <div class="col-md-3">
            <P class="textUppercase">CONTÁCTANOS</P>
                <P class="info">CALLE SUERO DE QUIÑONES, 4-1</P>
                <P class="info">C, VENEZUELA, 28002, VENEZUELA</P>
                <P class="info">TELÉFONO: (0212) 9146329</P>
                <P class="info"> CORREO: GUACAMAYA@GMAIL.COM </P>
        </div>
        <div class="col-md-3">
            <P class="textUppercase">SÍGUENOS</P>
            <a href="https://www.instagram.com/?hl=es-la">
                <img class="icons" src="https://image.flaticon.com/icons/png/128/733/733614.png">
            </a>
            <a href="https://es-la.facebook.com/login/">
                <img class="icons" src="https://image.flaticon.com/icons/png/128/59/59439.png">
            </a>
            <a href="https://twitter.com/login?lang=es">
                <img class="icons" src="https://image.flaticon.com/icons/png/128/733/733635.png">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col my-line">

        </div>
    </div>
    <div class="row">
        <div class="col copyright">
            <p class="info" id="copy"> © 2019 COPYRIGTH: GUACAMAYATOURS.COM </p>
        </div>
    </div>
</footer>
