<section>
    <app-hero [title]="'ACERCA DE NOSOTROS'" [description]="'GUACAMAYA TOURS'" 
    [image]="'https://wallpaperstock.net/great-ocean-amp%3B-esc%C3%A9nica-venezuela-wallpapers_48474_1920x1200.jpg'">
    </app-hero>
</section>
<section>
<div class="container container_text">
    <div class="row justify-content-center">
        <div class="col">
                <p class="text">GUACAMAYA TOURS ES UNA APLICACIÓN QUE PONE A TU ALCANCE LOS MEJORES DESTINOS Y HOTELES PARA TU ESTADÍA.</p>
                <P class="info">NO ESPERES MÁS Y HAZ TU RESERVA</P>
        </div>
    </div>
</div>
</section>
<section> 
<div class="row" [ngStyle]="{'background' : 'url(../../assets/Images/vision.png)'}">
        <div class="col-md-8 vision">
            <div class="visionText">
                <p class="title">VISIÓN</p>
                <P class="textV">GUACAMAYA TOURS SERÁ UNA EMPRESA LÍDER EN EL MERCADO DE LAS EMPRESAS DE VIAJES Y TURISMOS EN VENEZUELA BASADO EN SU ALTA CALIFICACIÓN PROFESIONAL, EN LA MEJORA CONTINUA DE SUS SERVICIOS Y EN SUS PAQUETES DE RESERVAS INNOVADORAS. NUESTRA PÁGINA SERÁ UNA REFERENCIA PARA TODO EL MERCADO  Y PROVEEDORES EN CUANTO A SU SISTEMA DE SERVICIO AL CLIENTE.
                </P>
                <div class="line">
                    
                </div>
            </div>
        </div>
            <div class="col-md-4 align-items-center">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f3ebcf88-7437-4c07-ac43-e6f2b50fb766/daki59e-e639d089-f3a6-46db-bf65-83f11deb8b8e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2YzZWJjZjg4LTc0MzctNGMwNy1hYzQzLWU2ZjJiNTBmYjc2NlwvZGFraTU5ZS1lNjM5ZDA4OS1mM2E2LTQ2ZGItYmY2NS04M2YxMWRlYjhiOGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.TeCFrvrrp81MhDSN65j9D4L7Fk3BETs4eusxDf90qjM">
            </div>
</div>
</section>
<section>
    <div class="row mission">
        <div class="col-md-2">
             <img class="ImageWorld" src="https://image.flaticon.com/icons/png/512/52/52349.png">
        </div>
        <div class="col-md-9 missionText">
            <div class="missionText">
                    <p class="titleMission">MISIÓN</p>
                    <P class="textV"> OFRECER UN SERVICIO PERSONALIZADO DE CALIDAD Y CONFIABILIDAD, A TRAVÉS DE LA BUENA ATENCIÓN DE NUESTRO PERSONAL DEBIDAMENTE CAPACITADO, DISEÑANDO VIAJES ÚNICOS, A PRECIOS ACCESIBLES, LOGRANDO SUPERAR LAS EXPECTATIVAS DE NUESTRO CLIENTES.</P>
                    <div class="line">
                    
                    </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-12">
                <img class="picture" src="../../assets/Images/4.png">
        </div>
        
    </div>
</section>
<section>
    <app-footer></app-footer>
</section>
