<section>
    <app-hero [title]="'ACERCA DE NOSOTROS'" [description]="'GUACAMAYA TOURS'" 
    [image]="'https://wallpaperstock.net/great-ocean-amp%3B-esc%C3%A9nica-venezuela-wallpapers_48474_1920x1200.jpg'">
    </app-hero>
</section>
<section>
<div class="container_text">
    <p class="text">GUACAMAYA TOURS ES UNA APLICACIÓN QUE PONE A TU ALCANCE LOS MEJORES DESTINOS Y HOTELES PARA TU ESTADÍA.</p>
    <P class="info">NO ESPERES MÁS Y HAZ TU RESERVA</P>
</div>
</section>
<section> 
<div class="vision">
    <img src="assets/Images/vision.png">
</div>
</section>