<form [formGroup]="form" (ngSubmit)="login()">
    <div>
        <label for="email">correo electronico</label>
        <input type="text" formControlName="email" >
        <label for="password">contraseña</label>
        <input type="password" formControlName="password">  
    </div>
    <button  type="button submit" class="btn btn-primary">Acceder</button>
</form>


<!-- <div class="container">
  <div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
      <div class="modal-content">

         <div class="col-12 user-img">
            <img src=".\assets\Images\logotipo.jpg"alt="GUACAMAYA TOURS">
         </div>
         <div class="col-12 form-input">

            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      
                
          
                <div class="row">
                  <div class="col-12">
                     
         </div> 

      </div>
    </div>
  </div>
</div> -->

