<div class="container" >
    
    <div class="row justify-content-center">
        <div class="col">
                <h4>Hotel</h4>
        </div>
       
        <div class="col col-md-12" >
                        <form #form= "ngForm" autocomplete="off" (submit)="onSubmit(form)">
                                <input type="hidden" name= "key" #key="ngModel"[(ngModel)]="hotelsService.hotelData.key">    
                            <!--ID & NAME-->
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="hotelsId">ID</label>
                                        <input  class="form-control" name="hotelsId"  #hotelsId="ngModel"[(ngModel)]="hotelsService.hotelData.hotelsId" placeholder="ID" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="name">Nombre</label>
                                            <input class="form-control " name="name" #name="ngModel"[(ngModel)]="hotelsService.hotelData.name" placeholder="Nombre">
                                    </div>
                                </div>
                                <!--DESCRIPTION-->
                                <div class="form-group">
                                    <label for="description">Descripción</label>
                                            <input class="form-control " name="description" #description="ngModel"[(ngModel)]="hotelsService.hotelData.description" placeholder="Descripción">
                                </div>
                                <!--CATEGORY-->
                                <div class="form-group">
                                    <label for="category">Categoría</label>
                                        <input class="form-control " name="category" #category="ngModel"[(ngModel)]="hotelsService.hotelData.category" placeholder="Categoría">
                                </div>
                                <div class="row">
                                    
                                        <div class="form-group col-md-6">
                                                <label for="latitude">Latitud</label>
                                                <input class="form-control " name="latitude" #latitude="ngModel"[(ngModel)]="hotelsService.hotelData.latitude" placeholder="Latitud">
                                        </div>
                
                                        <div class="form-group col-md-6">
                                                <label for="longitude">Longitud</label>
                                                    <input class="form-control " name="longitude" #longitude="ngModel"[(ngModel)]="hotelsService.hotelData.longitude" placeholder="Longitud">
                                        </div>
                                </div>
                                <!--STATE&CITY-->
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="state">Estado</label>
                                        <input class="form-control  " name="state" #state="ngModel"[(ngModel)]="hotelsService.hotelData.state" placeholder="Estado">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="city">Ciudad</label>
                                        <input class="form-control " name="city" #city="ngModel"[(ngModel)]="hotelsService.hotelData.city" placeholder="Cuidad">
                                    </div>
                                </div>
                                <div class="row">
                                    <!--STARS-->
                                <div class="form-group col-md-6">
                                        <label for="stars">Estrellas</label>
                                            <input class="form-control " type= "number" min= "1" max="5" name="stars" #stars="ngModel"[(ngModel)]="hotelsService.hotelData.stars" placeholder="Estrellas">
                                </div>
                                <!--POPULARITY-->
                                <div class="form-group col-md-6">
                                        <label for="popularity">Popularidad</label>
                                            <input class="form-control " type= "number" min= "1" max="5" name="popularity" #popularity="ngModel"[(ngModel)]="hotelsService.hotelData.popularity" placeholder="Popularidad">
                                    </div>
                                    
                                </div>
                                
                                <!--AVAILABILITY-->
                                <div class="form-group">
                                    <label for="availability">Disponibilidad</label>
                                        <input class="form-control " type= "number" name="availability" #availability="ngModel"[(ngModel)]="hotelsService.hotelData.availability" placeholder="Disponibilidad">
                                </div>
                                
                                <!--Photos--> 
                                <p>Fotos</p>
                                <div class="form-group">
                                    <input class="form-control " name="photos" #photos="ngModel"[(ngModel)]="hotelsService.hotelData.photos" placeholder="Foto del header">
                                </div>
                                <div class="form-group">
                                    <input class="form-control " name="photo1" #photo1="ngModel"[(ngModel)]="hotelsService.hotelData.photo1" placeholder="Foto 1">
                                </div>
                                <div class="form-group">
                                    <input class="form-control " name="photo2" #photo2="ngModel"[(ngModel)]="hotelsService.hotelData.photo2" placeholder="Foto 2">
                                </div>
                                <div class="form-group">
                                    <input class="form-control " name="photo3" #photo3="ngModel"[(ngModel)]="hotelsService.hotelData.photo3" placeholder="Foto 3">
                                </div>
                                <!--SUBMIT BUTTON-->
                                <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-info" *ngIf= "hotelsService.hotelData.key == null" >GUARDAR</button>
                                        <button type="submit" class="btn btn-block btn-info"  *ngIf= "hotelsService.hotelData.key!== null">EDITAR</button>
                                        
                                </div>
</form>