.my-container{
    margin: 0px;
    margin-right: 0px;
    
}
.my-card{
    width: auto;
    margin:10%;
}
.page-container{
    margin: 0; 
    height: 100vh; 
    overflow: hidden;
}
.page-row{
    min-height: 100vh;
    overflow: hidden;
}
  .page-content{
    margin-left: 15%;
    padding-top: 0px;
  }