<div class="container" >
    
        <div class="row justify-content-center">
            <div class="col">
                    <h4>Crea tu itinerario!
                        {{message}}
                       </h4>
            </div>
        </div>
        <div class="row justify-content-center">
                <div class="col col-md-12" >
                        <form #form= "ngForm" autocomplete="off" (submit)="onSubmit(form)">
                                <input type="hidden" name= "key" #key="ngModel"[(ngModel)]="itineraryService.itineraryData.key">    
                                <!--Destination-->
                                <div class="form-group">
                                        <label for="destination">Destino</label>
                                                <input class="form-control " name="destination" #destination="ngModel"[(ngModel)]="itineraryService.itineraryData.destination" placeholder="Destino">
                                </div>
                                <!--Hotel-->
                                <div class="form-group">
                                        <label for="hotel">Hotel</label>
                                                <input class="form-control " name="hotel" #hotel="ngModel"[(ngModel)]="itineraryService.itineraryData.hotel" placeholder="Hotel">
                                </div>
                           
                                <!--ID & NAME-->
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="clientId">Cédula</label>
                                        <input  class="form-control" name="clientId"  #clientId="ngModel"[(ngModel)]="itineraryService.itineraryData.clientId" placeholder="Cédula" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="clientName">Nombre</label>
                                            <input class="form-control " name="clientName" #clientName="ngModel"[(ngModel)]="itineraryService.itineraryData.clientName" placeholder="Nombre Completo">
                                    </div>
                                </div>
                                <!--EMAIL-->
                                <div class="form-group">
                                    <label for="email">Correo Electrónico</label>
                                            <input class="form-control " name="email" #email="ngModel"[(ngModel)]="itineraryService.itineraryData.email" placeholder="Correo Electrónico">
                                </div>
                                <!--Phone Number-->
                                <div class="form-group">
                                    <label for="phoneNumber">Número de Teléfono</label>
                                        <input class="form-control " name="phoneNumber" #phoneNumber="ngModel"[(ngModel)]="itineraryService.itineraryData.phoneNumber" placeholder="Número de Teléfono">
                                </div>
                                <!--Adress-->
                                <div class="form-group">
                                        <label for="phoneNumber">Dirección</label>
                                            <input class="form-control " name="adress" #adress="ngModel"[(ngModel)]="itineraryService.itineraryData.adress" placeholder="Dirección">
                                    </div>
                                <!--Companions-->
                                <div class="form-group">
                                    <label for="companions">Acompañantes/Familiares</label>
                                            <input class="form-control " type= "number" name="companions" #companions="ngModel"[(ngModel)]="itineraryService.itineraryData.companions" >
                                </div>
                                
                                
                                <!--Arrival and departure-->
                                <div class="row">
                                    
                                        <div class="form-group col-md-6">
                                                <label for="arrivalDate">Fecha de llegada en el formato dd/mm/aa</label>
                                                <input class="form-control " name="arrivalDate" #arrivalDate="ngModel"[(ngModel)]="itineraryService.itineraryData.arrivalDate" placeholder="dd/mm/aa">
                                        </div>
                
                                        <div class="form-group col-md-6">
                                                <label for="departureDate">Fecha de salida en el formato dd/mm/aa</label>
                                                    <input class="form-control " name="departureDate" #departureDate="ngModel"[(ngModel)]="itineraryService.itineraryData.departureDate" placeholder="dd/mm/aa">
                                        </div>
                                </div>
                                <!--SUBMIT BUTTON-->
                                <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-info" *ngIf= "itineraryService.itineraryData.key == null" >RESERVAR</button>
                                </div>
                            </form>
              
        </div>
    </div>
    
</div>

