<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="columnas1">
        <div id="filtro2" class="filtro">
        <h4>Encuentra tu hotel ideal</h4>
        <hr>
        <h4>Estado</h4>
      
        <select [(ngModel)]="state" (change)="filterExact('state', state)">
          <option value="Distrito Capital">Distrito Capital</option>
          <option value="Nueva Esparta">Nueva Esparta</option>
          <option value="Mérida">Mérida</option>
        </select>
        <button *ngIf="state"
                (click)="removeFilter('state')">
      
                Remove filter
        </button>
        <hr>
        <h5>Sortear por Localizacion</h5>
        <input type="checkbox">Playa
        <br>
        <input type="checkbox">Pico
        <br>
        <input type="checkbox">Nieve
        <br>
        <input type="checkbox">Selva
        <hr>
        <h5>Sortear por Rating</h5>
        <input type="checkbox">Mas Popular
        <br>
        <input type="checkbox">Menos Popular
        <hr>
        <h4>Por Precio</h4>
      
        <input type="number"
               [(ngModel)]="price"
               (change)="filterGreaterThan('price', price)">
      
        <button *ngIf="price"
                (click)="removeFilter('price')">
      
                Remove filter
              </button>
        </div>
<div class="flexit">
<div class="hotelsclass" *ngFor="let h of filteredHotels;let i=index">
        <div class="card" style="width: 18rem;">
                <img src="{{h.photos}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{h.name}}</h5>
                        <span><b>Estrellas:</b></span>
                            <span *ngIf="h.stars == 1">   
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </span>
                            <span *ngIf="h.stars == 2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>	
                            </span>
                            <span *ngIf="h.stars == 3">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>	
                            </span>
                            <span *ngIf="h.stars == 4">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </span>
                            <span *ngIf="h.stars == 5">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>	
                            </span>
                        <br><span><b>Habitaciones disponibles:</b> {{h.availability}}</span>
                        <h6><b>Estado:</b> {{h.state}}</h6>
                        <h6><b>Precio:</b> {{h.price}}$</h6>
                        <p class="card-text"> {{h.description}}</p>
                        <app-modal [i1]='h.key'></app-modal>
                </div>
              
        </div>
    </div>
</div>