<div class="flexit">
<div class="hotelsclass" *ngFor="let h of Hotels">
        <div class="card" style="width: 18rem;">
                <img src="{{h.photos}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{h.name}}</h5>
                  <h5>{{h.state}}</h5>
                  <p class="card-text">{{h.description}}</p>
                  <h1 >{{h.stars}}&#11088;	
                    </h1>
                  <h1 style="text-align: right;">{{h.price}}$</h1>
                </div>
                <button type="button" class="btn btn-primary" (click)="openModal(template)">Explorar!</button>
            </div>
