.card{

    border: solid grey 1px;
    padding: 15px;
    height: 600px;
    margin: 20px;
    


    img{
        width: 100%;
        height:150px;
    }
    .card-text{
        display: block;
        width: 100%;
        overflow:hidden;
    }}

    
.hotelsclass{
    width: 33%;
    position:relative;
}
.flexit{
    display:flex;
    flex-direction:row;
    flex:1;
    flex-wrap:wrap;
}