<ng-container *ngFor="let d of Destiny;let i=index">
    <ng-container *ngIf="i2 == i">
    <div class="container my-container">
        <!--Header Container-->
       
       <div class="row">
               <!--Image-->
             <div class="col-6 my-col">
               <img src="{{d.photos}}" alt="Hotel Image" class="hotel-image">
             </div>
               <!--Title-->
             <div class="col-5 align-self-center my-title">
                
               <span>
                   <h1>{{d.name}}</h1>
                   <h2>{{d.city}}</h2>
               </span>              
             </div>
             <div class="col-1 my-icon">
                 <img class="icon" src="../../assets/Images/hotelsiconseemore.jpg">
             </div>
       </div>
       <div class="row my-row">
           <div class="col line1">
               <div class="line">
     
                 </div>
           </div>
       </div>
       <div class="row my-row">
         <div class="col nav justify-content-center">
             <tabset>
                <tab id="1" (selectTab)="onSelect($event)">
                    <ng-template tabHeading>
                      <span class="badge badge-secondary">INFORMACIÓN</span>
                    </ng-template>
                  </tab>
                <tab id="2" (selectTab)="onSelect($event)">
                  <ng-template tabHeading>
                    <span class="badge badge-secondary">HABITACIONES</span>
                  </ng-template>
                </tab>
                <tab id="3" (selectTab)="onSelect($event)">
                    <ng-template tabHeading="SERVICIOS">
                      <span class="badge badge-secondary">SERVICIOS</span>
                    </ng-template>
                  </tab>
              </tabset>
         </div>
       </div>
       <div class="row my-row3">
         <div class="col-5 my-information">
             <div class="info">
               <p *ngIf="value=='1'">{{d.description}}</p>
               <p *ngIf="value=='2'">{{d.rooms}}</p>
               <p *ngIf="value=='3'">{{d.services}}</p>
             </div>
         </div>
         <div class="col-1 line2">
             <div class="blueLine">
     
             </div>
         </div>
         <div class="col-6 my-carousel">
             <div class="pictures">
              <carousel>
                <slide>
                  <img src="{{d.photo1}}" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                  <img src="{{d.photo2}}" alt="second slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                  <img src="{{d.photo3}}" alt="third slide" style="display: block; width: 100%;">
                </slide>
              </carousel>
           </div>
         </div>
         </div>
     </div>
     </ng-container>