<div class="container1">
        <section class="thumbnail">
                <app-hero [title]="'RESERVA CON NOSOTROS'" [description]="'GUACAMAYA TOURS'" 
                [image]="'./assets/Images/hotels.png'"></app-hero>  
                
            
        </section>
        <div class="columnas1">
            <div class="filtro">
            <h4>Encuentra tu hotel ideal</h4>
            <hr>
            <h5>Sortear por Estados</h5>
            <input type="checkbox">Miranda
            <br>
            <input type="checkbox">Bolivar
            <br>
            <input type="checkbox">Amazonas
            <br>
            <input type="checkbox">Tachira
            <br>
            <input type="checkbox">Merida
            <br>
            <input type="checkbox">Trujillo
            <br>
            <input type="checkbox">Zulia
            <hr>
            <h5>Sortear por Localizacion</h5>
            <input type="checkbox">Playa
            <br>
            <input type="checkbox">Pico
            <br>
            <input type="checkbox">Nieve
            <br>
            <input type="checkbox">Selva
            <hr>
            <h5>Sortear por Rating</h5>
            <input type="checkbox">Mas Popular
            <br>
            <input type="checkbox">Menos Popular
            <hr>
            <h5>Sortear por Precio</h5>
            <input type="checkbox">Mas Costoso
            <br>
            <input type="checkbox">Menos Costoso
            </div>
            <app-Hotels-display></app-Hotels-display>
            </div>
        
</div>

<div class="section">
        <app-footer></app-footer>
</div>