
<!--Nav Bar-->
<nav class="navbar  sticky-top navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" routerLink="/">
                <img src=".\assets\Images\logotipo.jpg" width="30" height="30" class="d-inline-block align-top" alt="logo">
                {{appName}}
        </a>
        <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
                        <span class="navbar-toggler-icon"></span>
        </button>
       
     <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  -->
      
        <div class=div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
          <ul class="navbar-nav mr-auto">
        
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!isLogged">
              <a class="nav-link" routerLink="/Home">HOME</a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                        <a class="nav-link" routerLink="/AboutUs">SOBRE NOSOTROS</a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                        <a class="nav-link" routerLink="/Destinies">DESTINOS</a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                        <a class="nav-link" routerLink="/Hotels">HOTELES</a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                        <a class="nav-link" routerLink="/seeItinerary">VER ITINERARIO</a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                        <a class="nav-link">PLANEA TU VIAJE</a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                        <a class="nav-link" routerLink="/Contacts">CONTÁCTANOS</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" routerLink="/dashboard">DASHBOARD</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" routerLink="/adminDestiny">DESTINOS</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" routerLink="/adminItinerary">ITINERARIOS</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a href="#" class="nav-link" (click)="onLogout()">INBOX</a>
              </li>
            <li class="nav-item" *ngIf="isLogged">
              <a href="#" class="nav-link" (click)="onLogout()">CERRAR SESIÓN</a>
            </li>
          </ul>
        </div>

        <div *ngIf = "isLogged">
            <app-side-bar2></app-side-bar2>
        </div>
        
      </nav>
