<div class="wrapper container align-items-center">
                <div class="row" style="margin-top:10vh"> 
                        <div class="col-md-3">

                        </div>
                    <div class="col-md-9"  >
                                <app-destiny-list></app-destiny-list>
                    </div>   
                </div>
                <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9" >
                                        <app-create-destiny></app-create-destiny>
                        </div>
                </div>
        </div>

