<h4>Lista de Destinos</h4>
<table class="table table-hover">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Estado</th>
        <th>Ciudad</th>
     <!--    <th>Descripción</th>
        <th>Servicios</th>
        <th>Actividades</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Dirección</th>
        <th>Cultura</th>
        <th>Gastronomía</th>
        <th>Foto 1 url</th>
        <th>Foto 2 url</th>
        <th>Foto 3 url</th>
        <th>Hotel 1</th>
        <th>Hotel 2</th>
        <th>Hotel 3</th> -->
<!--         <th [hidden]></th> -->
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let dest of destiny">
                <td (click)="onEdit(dest)"> {{dest.destinyId}} </td>
                <td (click)="onEdit(dest)">{{dest.name}}</td>
                <td (click)="onEdit(dest)">{{dest.category}}</td>   
                <td (click)="onEdit(dest)">{{dest.state}}</td>     
                <td (click)="onEdit(dest)">{{dest.city}}</td> 
                
                <td><button class="btn btn-block btn-sm btn-danger" (click)="onDelete(dest.key)">Eliminar</button></td>  
        </tr>
    </tbody>

</table>

