<h4>Lista de Destinos</h4>
<table class="table table-hover">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoría</th>
        <th scope="col"> Estado</th>
        <th scope="col">Ciudad</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        <tr *ngFor="let dest of destiny">
                <td (click)="onEdit(dest)"> {{dest.destinyId}} </td>
                <td (click)="onEdit(dest)">{{dest.name}}</td>
                <td (click)="onEdit(dest)">{{dest.category}}</td>   
                <td (click)="onEdit(dest)">{{dest.state}}</td>     
                <td (click)="onEdit(dest)">{{dest.city}}</td> 
                
<!--                 <td><button class="btn btn-block btn-sm btn-danger" (click)="onDelete(dest.key)">Eliminar</button></td> -->
                <td><button class="btn btn-block btn-sm  btn-danger" (click)="isActive(dest)" *ngIf= "dest.active==true">Deshabilitar</button></td>  
                <td><button class="btn btn-block btn-sm btn-success" (click)="isActive(dest)" *ngIf= "dest.active==false">Habilitar</button></td>    
        </tr>
    </tbody>

</table>

