<div class="displayTable">
    <div class="displayTableC">
        <h3>Iniciar Sesión</h3>
        <div class="formGroup">
                <input type="text" class="formControl" placeholder="Usuario" #userName required>
        </div>
        <div class="formGroup">
            <input type="password" class="formControl" placeholder="Contraseña" #userPassword required>
        </div>

        <!--Calling sign-in API from AuthService-->
        <div class="formGroup">
            <input type="button" class="btn btnPrimary" value="Log In" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>

        <div class="formGroup">
            <span class="or"><span class="orInner">Or</span></span>
        </div>

        <div class="redirectToLogin">
            <span >No tiene permisos para acceder</span>
        </div>



    </div>
</div>