<section>
    <app-hero [title]="'MI ITINERARIO'" [description]="'GUACAMAYA TOURS'" 
    [image]="'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Cayo_de_Agua%2C_Archipi%C3%A9lago_de_Los_Roques%2C_Venezuela.jpg/1200px-Cayo_de_Agua%2C_Archipi%C3%A9lago_de_Los_Roques%2C_Venezuela.jpg'">
    </app-hero>
</section>
<section>
    <div class="row askCode" *ngIf="show == false">
        <div class="white">
            <div class="row title">
                <div class="col-md-12">
                        <p class="bigText">INGRESA TU CÓDIGO</p>
                        <p class="smallText">VERIFICA TU ITINERARIO</p>
                </div>
            </div>
            <div class="row form">
                    <div class="col-md-10 formMargin">
                            <form  #form= "ngForm" autocomplete="off" (submit)="onSubmit(form)">
                                <div class="form-group">
                                    <input class="form-control " name="code" #codeEntered="ngModel" [(ngModel)]="code"  placeholder="Ingresa tu código">
                                </div>
                                <button type="submit" class="btn btn-primary" >CONTINUAR</button>
                            </form>
                    </div>
                </div>
        </div>
    </div>
    <div class="row itineraryForm" style="margin-top:10vw" *ngIf="show==true">
            <div class="col-md-4 information" >
                <img class="image" style="margin-left:35%"src="../../assets/Images/calendario.png">
                    <p class="especialText" style="text-align: center;">Su reserva es la siguiente:</p>
                    <p style=" text-align: center;">Fecha de llegada: {{itinerary.arrivalDate}} </p>
                    <p style="text-align: center;">Fecha de salida:{{itinerary.departureDate}}</p>
                    <p style="text-align: center;">Destino: {{itinerary.destination}}</p>
                    <p style="text-align: center;">Hotel:{{itinerary.hotel}}</p>
                
            </div>
    </div>
</section>
<div class="section">
    <app-footer></app-footer>
</div>
