.askCode{
margin-top: 10vh;
margin-right: 0;
margin-left: 0;
width: 100%;
height: 550px;
}

.white{
    position: relative;
    border: 1px solid white;
    width: 80vh;
    height:20vh;
    margin-left: 32%;
    margin-top:25vh;
    background-color: white;
}

.bigText{
    margin-top: 2vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:black;
    font-weight: lighter;
    text-align: center;
    font-size: 5vh;
}

.smallText{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:black;
    font-weight: lighter;
    text-align: center;
    font-size: 3vh;
}

.code{
    margin-top: 25vw;
    margin-left: -27vw;
}

.btn{
    background-color: #2EBFC4;
    margin-top: 30vw;
    margin-left:-27.5vw;
    width:30vh;
    height: 8vh;
    font-size: 3vh;
}
