
<section class="pictures">
    <carousel>
        <slide>
          <img src="../../assets/Images/1.jpg" alt="first slide" style="display: block; width: 100%; max-height:540px;">
        </slide>
        <slide>
          <img src="../../assets/Images/2.jpg" alt="second slide" style="display: block; width: 100%; max-height:540px;">
        </slide>
        <slide>
          <img src="../../assets/Images/3.jpg" alt="third slide" style="display: block; width: 100%; max-height:540px;">
        </slide>
      </carousel>
</section>
<section>
  <div class="AboutUs" [ngStyle]="{'background' : 'url(../../assets/Images/SobreNosotrosHome.png) center', 'background-size':'cover'}">
  <div class="row AboutUs">
    <div class="col-12 title">
      <img class="logo" src="../../assets/Images/logotipo.jpg">
      <p>SOBRE NOSOTROS</p>
    </div>
    <div class="row">
        <div class="col-8 text justify-content-center">
          <p>GUACAMAYA TOURS ES UNA PÁGINA QUE BUSCA PROMOVER EL TURISMO EN VENEZUELA OFRECIENDO UNA SERIE DE DESTINOS Y HOTELES ASÍ COMO FACILIDADES DE PAGO PARA SU RESERVA. ESTAMOS COMPROMETIDOS CON LA CALIDAD DE TODOS LOS SERVICIOS OFRECIDOS BUSCANDO SIEMPRE LA SATISFACCIÓN DE NEUSTROS CLIENTES</p>
        </div>
      </div>
  </div>
</div>
</section>
<section>
  <div class="row pasos">
    <div class="col pasosTitle">
      <p>SOLO TRES SENCILLOS PASOS</p>
    </div>
  </div>
  <div class="row pasos2">
    <div class="col-md-4 location justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/Images/localizacion.png" class="card-img-top" alt="localizacion">
            <div class="card-body">
              <h5 class="card-title">ELIGE TU DESTINO</h5>
              <p class="card-text">Comienza tu aventura eligiendo el destino turístico de tu preferencia</p>
            </div>
          </div>
    </div>
    <div class="col-md-4 hotel justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/Images/hotel.jpg" class="card-img-top" alt="hotel">
            <div class="card-body">
              <h5 class="card-title">SELECCIONA TU HOTEL</h5>
              <p class="card-text">Elige el hotel que más se acomode a tus necesidades</p>
            </div>
          </div>
    </div>
    <div class="col-md-4 adventure">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/Images/Maleta.png" class="card-img-top" alt="maleta">
            <div class="card-body">
              <h5 class="card-title">DISFRUTA LA AVENTURA</h5>
              <p class="card-text">Y listo! ya puedes comenzar tu aventura.</p>
            </div>
          </div>
    </div>
  </div>
</section>
<section>
  <div class="row more">
    <div class="col moreTitle">
      <p>CONOCE MÁS SOBRE NOSOTROS</p>
    </div>
    <div class="row more2">
      <div class="col-md-4 mb-4 destiny justify-content-center">
          <div class="card" id="blueCard" style="width: 18rem;">
              <img src="../../assets/Images/avion.png" class="card-img-top" alt="avion">
              <div class="card-body">
                <h5 class="card-title" id="blueTitle">NUESTROS DESTINOS</h5>
                <p class="card-text" id=blueText>Te ofrecemos una gran variedad de destinos que se ajustan a tus gustos</p>
                <a href="#" class="btn btn-primary" routerLink="/Destinies" id=blueButton>VER</a>
              </div>
            </div>
      </div>
    <div class="col-md-4 hotel justify-content-center">
       <div class="col-md-4 mb-4 destiny justify-content-center">
          <div class="card" id="blueCard" style="width: 18rem;">
              <img src="../../assets/Images/cama.png" class="card-img-top" alt="cama">
              <div class="card-body">
                <h5 class="card-title" id="blueTitle">NUESTROS HOTELES</h5>
                <p class="card-text" id=blueText>Te ofrecemos una gran variedad de hoteles que se ajustan a tus necesidades</p>
                <a href="#" class="btn btn-primary" routerLink="/Hotels" id=blueButton>VER</a>
              </div>
            </div>
      </div>
    </div>
    <div class="col-4 search justify-content-center">
        <div class="col-md-4 mb-4 destiny justify-content-center">
            <div class="card" id="blueCard" style="width: 18rem;">
                <img src="../../assets/Images/lupa.png" class="card-img-top" alt="lupa">
                <div class="card-body">
                  <h5 class="card-title" id="blueTitle">VER ITINERARIO</h5>
                  <p class="card-text" id=blueText>¿Ya tienes tu itinerario? Revisalo en la página</p>
                  <a href="#" class="btn btn-primary" routerLink="/seeItinerary" id=blueButton>VER</a>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
</section>
<section>
  <div class="plane" [ngStyle]="{'background' : 'url(../../assets/Images/fondoAvion.png) center', 'background-size':'cover'}">
    <div class="row">
      <div class="col-md-12">
        <p class="adventureTitle">¡UNETE A LA AVENTURA!</p>
          <button type="button" class="btn btn-primary create">
              CREA TU ITINERARIO
          </button>
      </div>
    </div>
  </div>

</section>
<section>
  <div class="row contactUs"[ngStyle]="{'background' : 'url(../../assets/Images/fondoTriangulos.png) center'}">
    <div class="col">
      <p class="cTitle">CONTÁCTANOS</p>
      <p class="cBigText">DIRECCIÓN</p>
      <p class="cSmallText">Calle Suero de Quiñones, 4 - 1 C, VENEZUELA, 28002 , VENEZUELA</p>
      <p class="cBigText">E-MAIL</p>
      <p class="cSmallText">guacamaya@gmail.com</p>
      <p class="cBigText">TELÉFONO</p>
      <p class="cSmallText">(0212) 914632927</p>
    </div>
  </div>
</section>
<section>
    <app-footer></app-footer>
</section>
