<header>
    <app-nav-bar></app-nav-bar>
</header>
<section class="pictures">
    <carousel>
        <slide>
          <img src="/assets/Images/1.jpg" alt="first slide" style="display: block; width: 100%; max-height:540px;">
        </slide>
        <slide>
          <img src="/assets/Images/2.jpg" alt="second slide" style="display: block; width: 100%; max-height:540px;">
        </slide>
        <slide>
          <img src="/assets/Images/3.jpg" alt="third slide" style="display: block; width: 100%; max-height:540px;">
        </slide>
      </carousel>
</section>
<section>
  <img src="/assets/Images/Contacto.png" alt="Contáctanos" style="display: block; width: 100%; max-height:500px;">
</section>
<div class="section">
    <app-footer></app-footer>
</div>