
<section class="pictures">
    <carousel>
        <slide>
          <img src="/assets/Images/1.jpg" alt="first slide" style="display: block; width: 100%; max-height:540px;">
        </slide>
        <slide>
          <img src="/assets/Images/2.jpg" alt="second slide" style="display: block; width: 100%; max-height:540px;">
        </slide>
        <slide>
          <img src="/assets/Images/3.jpg" alt="third slide" style="display: block; width: 100%; max-height:540px;">
        </slide>
      </carousel>
</section>
<section>
  <div class="AboutUs" [ngStyle]="{'background' : 'url(assets/Images/SobreNosotrosHome.png) center'}">
  <div class="row AboutUs">
    <div class="col-4">
      <img class="logo" src="assets/Images/logotipo.jpg">
    </div>
    <div class="col-6 title">
      <p>SOBRE NOSOTROS</p>
      <div class="blueLine">

      </div>
    </div>
    <div class="row">
        <div class="col-8 text justify-content-center">
          <p>GUACAMAYA TOURS ES UNA PÁGINA QUE BUSCA PROMOVER EL TURISMO EN VENEZUELA OFRECIENDO UNA SERIE DE DESTINOS Y HOTELES ASÍ COMO FACILIDADES DE PAGO PARA SU RESERVA. ESTAMOS COMPROMETIDOS CON LA CALIDAD DE TODOS LOS SERVICIOS OFRECIDOS BUSCANDO SIEMPRE LA SATISFACCIÓN DE NEUSTROS CLIENTES</p>
        </div>
      </div>
  </div>
</div>
</section>
<section>
  <div class="row pasos">
    <div class="col pasosTitle justify-content-center">
      <p>SOLO TRES SENCILLOS PASOS</p>
      <div class="Line">

      </div>
    </div>
  </div>
  <div class="row pasos2">
    <div class="col-4 location justify-content-center">
      <img class="pic" src="assets/Images/localizacion.png">
      <p class="bigText">ELIGE TU DESTINO</p>
      <p class="smallText">Comienza tu aventura eligiendo el destino turístico de tu preferencia</p>
    </div>
    <div class="col-4 hotel justify-content-center">
      <img class="pic" src="assets/Images/hotel.png">
      <p class="bigText">SELECCIONA TU HOTEL</p>
      <p class="smallText">Elige el hotel que más se acomode a tus necesidades</p>
    </div>
    <div class="col-4 adventure">
      <img class="pic " src="assets/Images/Maleta.png">
      <p class="bigText">DISFRUTA LA AVENTURA</p>
      <p class="smallText">Y listo! ya puedes comenzar tu aventura.</p>
    </div>
  </div>
</section>
<section>
  <div class="row more">
    <div class="col moreTitle">
      <p>CONOCE MÁS SOBRE NOSOTROS</p>
      <div class="yellowLine">

      </div>
    </div>
    <div class="row more2">
      <div class="col-4 destiny justify-content-center">
        <img class="pic" src="assets/Images/avion.png">
        <p class="bigTextYellow">NUESTROS DESTINOS</p>
        <p class="smallTextWhite">Te ofrecemos una gran variedad de destinos que se ajustan a tus gustos</p>
        <button type="button" class="btn btn-primary">
          VER
        </button>
      </div>
    <div class="col-4 hotel justify-content-center">
      <img class="pic" src="assets/Images/cama.png">
      <p class="bigTextYellow">NUESTROS HOTELES</p>
      <p class="smallTextWhite">Te ofrecemos una gran variedad de hoteles que se ajustan a tus necesidades</p>
      <button type="button" class="btn btn-primary">
        VER
      </button>
    </div>
    <div class="col-4 search justify-content-center">
      <img class="pic" src="assets/Images/lupa.png">
      <p class="bigTextYellow">VER ITINERARIO</p>
      <p class="smallTextWhite">¿Ya tienes tu itinerario? Revisalo en la página</p>
      <button type="button" class="btn btn-primary">
        VER
      </button>
    </div>
  </div>
</div>
</section>
<section>
  <div class="plane" [ngStyle]="{'background' : 'url(assets/Images/fondoAvion.png) center'}">
    <button type="button" class="btn btn-primary create">
        CREA TU ITINERARIO
      </button>
  </div>

</section>
<section>
  <div class="row contactUs"[ngStyle]="{'background' : 'url(assets/Images/fondoTriangulos.png) center'}">
    <div class="col">
      <p class="cTitle">CONTÁCTANOS</p>
      <div class="cLine">

      </div>
      <p class="cBigText">DIRECCIÓN</p>
      <p class="cSmallText">Calle Suero de Quiñones, 4 - 1 C, VENEZUELA, 28002 , VENEZUELA</p>
      <p class="cBigText">E-MAIL</p>
      <p class="cSmallText">guacamaya@gmail.com</p>
      <p class="cBigText">TELÉFONO</p>
      <p class="cSmallText">(0212) 914632927</p>
    </div>
  </div>
</section>
<section>
    <app-footer></app-footer>
</section>
