<h2>Filters</h2>
  <h4>state</h4>

  <select [(ngModel)]="state" (change)="filterExact('state', state)">
    <option value="Distrito Capital">Distrito Capital</option>
    <option value="Nueva Esparta">Nueva Esparta</option>
    <option value="Mérida">Mérida</option>
  </select>

  <button *ngIf="state"
          (click)="removeFilter('state')">

          Remove filter
  </button>

  <h4>price Greater Than</h4>

  <input type="number"
         [(ngModel)]="price"
         (change)="filterGreaterThan('price', price)">

  <button *ngIf="price"
          (click)="removeFilter('price')">

          Remove filter
        </button>

  <h4>Endangered Species</h4>

  <input type="checkbox"
         [(ngModel)]="endangered"
         (change)="filterBoolean('endangered', endangered)">

    Endangered?
